/* 🚫🔍 DO NOT SNEAK A PEEK! 🔍🚫 */

/*

Hello, curious coder! 
It looks like you've stumbled upon a file that's not meant for your eyes. 
I kindly ask that you respect the boundaries and not access or alter this file. 
Remember, the best surprises come from sticking to the plan!

Happy coding, and keep up the great work! 😊

*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #f0f4f8, #cfe0e8);
}

.owl {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px;
}

.body {
    width: 100%;
    height: 110%;    
    border-radius: 50%;
    background-color: #8BC96B;
    position: relative;
}

.border {
    border: 1px solid black;
}

.border-template {
    border: 1px dashed black;
}

.eye-template {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 40px;
    background-color: white;
}

.left-eye-template {
    left: 40px;
}

.right-eye-template {
    right: 40px;
}

.pupil-template {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}

.glow-template {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.beak-template {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 100px;
    left: 50%;
    border-radius: 0px 0px 25px 0px;
    transform: translateX(-50%) rotate(45deg);
    background-color: #f0a202;
}

.wing-template {
    width: 60px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: 70px;
    background-color: #74BF4B;
}

.left-wing-template {
    left: -30px;
    transform: rotate(-20deg);
}

.right-wing-template {
    right: -30px;
    transform: rotate(20deg);
}

.feather-template {
    content: '';
    width: 25px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #74BF4B;
}

.foot-template {
    width: 20px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    background-color: #d69c2f;
}

.left-foot-template {
    left: 60px;
}

.right-foot-template {
    right: 60px;
}

.hat-template {
    position: absolute;
    width: 120px;
    height: 60px;
    background-color: #a5a5a5;
    border-radius: 60px 60px 0 0;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.hat-band-template {
    position: absolute;
    width: 70px;
    height: 20px;
    background-color: #525252;
    border-radius: 10px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px dashed black;
}
